<!DOCTYPE html>
<html ng-app="appClientes">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
<script src="./js/app.js"></script>
<script src="./js/controller/cliente-controller.js"></script>
<script src="./js/controller/cidade-controller.js"></script>
<script src="./js/controller/estado-controller.js"></script>


</head>
<body >
<a href="/#!/clientes">Cadastro de clientes</a>

<a href="/#!/estados">Cadastro de estados</a>
<div ng-view="ng-view"></div>
</body>

</html>